@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

html,
body {
  background-color: #03001c;
  color: #fff;
  font-family: "Gabarito", cursive;
}

h1 {
  font-size: 1.5em;
}
p {
  width: 30%;
  padding: 10px 0px;
  font-size: 24px;
  text-align: center;
  flex-shrink: 0;
}

button {
  padding: 10px 16px;
  text-transform: capitalize;
  border: 2px solid #8a72d4;
  border-radius: 4px;
  cursor: pointer;
  background-color: #301e67;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #271363;
}

.container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.on {
  background-color: #8a72d4;
  border: 2px solid white;
  border-radius: 3px;
}
